  .title{
            color:blue;
        }
        .foods{
            color:green;
        }
        .Food_Links{
            color:red;
        }
        .demo{
          
            background-color: skyblue;
            border: 5px solid red;
            padding: 20px;
            
           
        }
    

       